# app/views/payments/new.html.haml 

#stripe_error
  %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

= form_for @payment ||= Payment.new, :html => {:id => :payForm} do |p|
  = p.hidden_field :stripe_card_token
  .field
    = p.text_field :amount
  .credit_card_form
    %h3.title
      Enter Credit Card
    - if @payment.stripe_card_token.present?
      Credit card has been provided.
    - else
      .field
        = label_tag :card_number, "Credit Card Number"
        = text_field_tag :card_number, nil, name: nil
      .field
        = label_tag :card_code, "Security Code (CVV)"
        = text_field_tag :card_code, nil, name: nil
      .field
        = label_tag :card_month, "Expiry Date"
        = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
        = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}  